version: '3.9'
services:
  postgres:
    container_name: jaffle_postgres
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: jaffle_db
      POSTGRES_USER: jaffle_user
      POSTGRES_PASSWORD: jaffle_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U jaffle_user -d jaffle_db"]
      interval: 5s
      timeout: 5s
      retries: 5
volumes:
  postgres_data:
